<header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                   <i class="fa fa-sign-in fa-5x"></i>
                   <div class=logIn>
<h1>Please log in!</h1>

<%= form_tag sessions_path do %>
  
  <%= label_tag :username %>
  <%= text_field_tag :username %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <%= submit_tag "Log In" %>

  <% end %>
</div>
                </div>
            </div>
        </div>
</header>
