<%= form_for @text do |f| %>
  <%= f.label :content %><br>
  <%= f.text_area :content, :cols => "80", :rows => "20" %><br>

  <div>
    <%=f.label :contact_id %>
    <%= f.collection_select(:contact_id, Contact.all, :id, :name) %>
  </div>

  <br>

  <div class="form-group">
    <%= f.label :time, "Time and Date", :class => 'control-label col-lg-2' %>
    <!-- Rails expects time_select when dealing with ActiveRecord forms -->
    <div class="col-lg-2">
      <%= time_select :appointment, :time, {:class => "form-control" } %>
    </div>
    <div class="col-lg-4">
      <%= date_select :appointment, :time, {:class => "form-control" } %>
    </div>

  
   
  </div>




  <%= f.submit %>







<% end %>