<% @texts.each do |text| %>
      <tr>
        <td><%= text.content %></td> <br>
        <td><%= text.phone_number %></td> <br>
        <td>To be sent at <%= text.time %></td> <br>
        <td>Sent? <%= text.sent %></td><br>
        <td>
          <%= link_to "Edit", 
                      edit_text_path(text), :class => 'btn btn-default btn-xs' %>
          <%= link_to "Delete",
                      text_path(text),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
        <br>
      </tr>
    <% end %>